/* img{
    width: 200px;
} */
 body{
    background-color: deeppink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: center;
    margin-left: 100px;
    padding-bottom: 100px;
 }
 .flavor {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .icecream{
    background-color: bisque;
    width: 500px;
    text-align: center;
    margin-left: auto;
 }
footer{
    border: 3px solid floralwhite;
    position: fixed;
    bottom:  0;
    width: 100%;
    background-color: aliceblue;
    text-align: left;
    box-shadow: 0-2px 5px rgba(0, 0, 0, 0.1);

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 nav li {
    float: left;
  }
  
 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  nav li a:hover {
    background-color: #111;
  }